<div class="row">
	<div class ="event-content col-lg-offset-1 col-lg-10 col-xs-12 ">
		<div class ="body-box">
			<div class ="title-box">
				<span>Risicare</span>
				<h2>SCHEDULE</h2>
				<% if admin_signed_in? %>
					<%= link_to new_admin_event_path do %>
						<p>NEW</p>
					<% end %>
				<% end %>
			</div>
			<div id ="calendar"></div>
		</div>
	</div>
</div>