<div class ="title-content col-md-9 col-lg-10 col-sm-12">
	<div class="row">
		<div class="col-xs-12">
			<div class ="title-box">
				<span>Risicare</span>
				<h2>SCHEDULE</h2>
				<% if admin_signed_in? %>
					<%= link_to new_admin_event_path do %>
						<p>NEW</p>
					<% end %>	
				<% end %>			
			</div>
		</div>
	</div>
	<div class ="body-box">
		<div id ="calendar"></div>
	</div>
</div>