<div class ="col-md-9 col-lg-10 col-sm-12">
	<div class="row">
		<div class ="about-body-box col-sm-12">
			<div class="about-image-box">
				<div class="about-image-text">
					<h1><ABBR>About Us</ABBR></h1>
					<P>Risicare basketball school</P>
				</div>
			</div>
			<div class="about-box col-lg-offset-2 col-lg-8 col-sm-12">
				<h3>理念</h3>
				<p>「勇気を持って一歩を踏み出し成長する」この理念をもとに魅力ある選手を育み,リジカーレマインドを身につけ、次のステージへ送り出すことがクラブの目的です。</p>
			</div>
			<div class="about-box col-lg-offset-2 col-lg-8 col-sm-12">
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<h3>Mission</h3>
						<p>バスケットボールで人生を豊かに！バスケットボールを通じて、人間的な成長を促す。</p>
					</div>
					<div class="col-md-6 col-sm-12">
						<h3>Vision</h3>
						<p>日本や世界のトップクラスで戦える選手の育成とバスケ以外の分野に身を置いても、リジカーレイズムを持って自ら道を切り開き、活躍できる人間の育成。</p>
					</div>
				</div>
			</div>
			<div class="about-box col-lg-offset-2 col-lg-8 col-sm-12">
				<h3>Values</h3>
				<p>リジカーレが大切にする育成方針3ヶ条<br>
				人として、選手として、リジカーレの一員として身につけるべき「理解力」「自主性」「協調性」</p>
				<h4>理解力</h4>
				<p>「見て、聞いて、理解できる力」<br>
                   練習や試合でコーチの指示を見て、聞いて、理解して実行することは、バスケットボールをする上で切っても切り離せません。コートの外の学校生活や実社会でコーチを先生や上司に置き換えて考えた場合でも、言われたことや与えられた課題を遂行する能力は大切です。見て、聞いて、理解する力を磨き、理解力を高めましょう。</p>
				<h4>自主性</h4>
				<p>「自分で判断し決断する力」<br>
				指示を遂行する力は大切ですが、言われたことだけこなせばいいと言うわけではありません。目まぐるしく変化するコートの中で状況判断をして、最適なプレーを選択し表現するのは選手自身です。自分と向き合い、トライ＆エラーを繰り返しながら、個性や想像力を持って自分で考えて行動する力をつけましょう。誰かの人生ではなく。自分の人生です。なりたい自分になるために自分で考える力、決断する力を磨きましょう。</p>
				<h4>協調性</h4>
				<p>「チームために協力できる献身的な力」<br>
				バスケは個人スポーツではなくチームスポーツです。お互いをリスペクトし、仲間を思いやれる心を相手の立場になって物事を考えれる想像力をポジティブな声かけや、コミュニケーション能力を伸ばして環境が変わっても適応できる力をつけましょう。</p>
			</div>
			<div class="about-box col-lg-offset-2 col-lg-8 col-sm-12">
				<h3>活動内容</h3>
				<ul>
					<li>校区に関係なく、上手になりたい意識の高いメンバーで練習を行います。</li>
					<li>練習以外に京都府、府外の中学校や高校、Bクラブユース、クラブチームと練習試合、カップ戦、遠征などを行います。</li>
					<li>京都、近畿、全国ジュニアクラブ連盟主催の公式大会に参加します。<br>
					    ※U15リーグで優勝するとジュニアウィンターカップ出場。クラブチームの中で１位が全国クラブ選手権(U15 JAPAN CLUB BASSKETBALL GAMES)に出場できます。</li>
				</ul>
			</div>
			<div class="about-box col-lg-offset-2 col-lg-8 col-sm-12">
				<h3>JBA登録について</h3>
				<ul>
					<li>登録について</li>
					<p>JBAや都道府県教会が主催する公式大会に参加するためには、必ず「クラブチーム」「部活動」「Bユース」のどこか一つのチームにJBA登録(競技者登録)が必要です。</p>
					<li>二重登録について</li>
					<p>二重登録は不可能です。登録できるのは「クラブチーム」「部活」「Bユース」いずれか１チームのみです。</p>
					<li>移籍に関して</li>
					<p>年度始めに登録した選手は、その年度内1回に限り移籍が可能です。</p>
					<li>部活とリジカーレの両立と移籍</li>
					<p>部活に登録している場合、リジカーレでの練習や練習試合に参加できますが、部活登録期間中はリジカーレとして公式戦は出場不可です。部活引退後にリジカーレとして共に戦う事を目指し部活登録期間は、部活とリジカーレでの経験の相乗効果を狙い両立してもらえたらと思います。3年生の夏季大会で部活を引退後にリジカーレへ移籍し、9月末開催のU15リーグでジュニアウィンターカップ、全国クラブ選手権を目指し、11月末開催の近畿ジュニア大会を戦います。</p>
				</ul>
			</div>
			<div class="about-box col-lg-offset-2 col-lg-8 col-sm-12">
				<h3>会費</h3>
				<div class="col-md-7 col-sm-12">
					<h4>「基本」</h4>
					<ul>
						<li>入会金：10,000円　※限定リジカーレTシャツプレゼント</li>
						<li>年会費：6.000円</li>
						<li>月会費：8,000円</li>
					</ul>
					<h4>「スクール、クラブチーム受け放題」</h4>
					<ul>
						<li>入会金：10,000円　※限定リジカーレTシャツプレゼント</li>
						<li>年会費：6.000円</li>
						<li>月会費：12,000円</li>
					</ul>
					<p>!試合や大会など別途費用必要</p>
					<p>!ゲーム用リバーシブル(10,000円)購入頂きます</p>
					<h4>「スポット参加」</h4>
					<p>入会された方のみスポット受講可能</p>
				</div>
				<div class="about-image col-md-5 col-sm-12"></div>
			</div>
		</div>
	</div>
</div>
