<div class ="about-content col-lg-offset-1 col-lg-10 col-xs-12">
	<div class="row">
		<div class ="about-body-box col-xs-12">
			<div class="about-image-box">
				<div class="about-image-text">
					<h2><ABBR>U-15</ABBR></h2>
					<h2>Risicare basketball club</h2>
					<p>KYOTO</p>
				</div>
			</div>
			<div class="about-box">
				<div class="col-lg-offset-2 col-lg-8 col-xs-12">
					<p><span>『勇気を持って一歩を踏み出し成長する』</span><br>
					この理念をもとに魅力ある選手を育み,次のステージへ送り出します。<br></p>
				</div>
				<div class="about-box col-lg-offset-2 col-lg-8 col-xs-12">
					<h3>- Mission -</h3>
					<h1>バスケットボールで人生を豊かに！</h1>
					<p>バスケットボールを通じて、人間的な成長を促す。</p>
				</div>
			</div>
			<div class="about-box col-lg-offset-2 col-lg-8 col-xs-12">
				<h3>- Vision -</h3>
				<h1>君は不快　君は深い</h1>
				<p><br>
					日本や世界のトップクラスで戦える選手の育成とバスケ以外の分野に身を置いても、<br>リジカーレイズムを持って自ら道を切り開き、活躍できる人間の育成。
				</p>
			</div>
			<div class="value-box col-lg-offset-2 col-lg-8 col-xs-12">
				<h3>- Values -</h3>
				<p>リジカーレが大切にする育成方針3ヶ条<br>
			</div>
			<div class="col-lg-4 col-xs-12">
				<h1>理解力</h1>
				<h4>「見て、聞いて、理解できる力」</h4>
				<p><br>
                   練習や試合でコーチの指示を見て、聞いて、理解して実行することは、バスケットボールをする上で切っても切り離せません。コートの外の学校生活や実社会でコーチを先生や上司に置き換えて考えた場合でも、言われたことや与えられた課題を遂行する能力は大切です。見て、聞いて、理解する力を磨き、理解力を高めましょう。</p>
			</div>
			<div class="col-lg-4 col-xs-12">
				<h1>自主性</h1>
				<h4>「自分で判断し決断する力」</h4>
				<p><br>
				指示を遂行する力は大切ですが、言われたことだけこなせばいいと言うわけではありません。目まぐるしく変化するコートの中で状況判断をして、最適なプレーを選択し表現するのは選手自身です。自分と向き合い、トライ＆エラーを繰り返しながら、個性や想像力を持って自分で考えて行動する力をつけましょう。誰かの人生ではなく。自分の人生です。なりたい自分になるために自分で考える力、決断する力を磨きましょう。</p>
			</div>
			<div class="col-lg-4 col-xs-12">
				<h1>協調性</h1>
				<h4>「チームために協力できる献身的な力」</h4>
				<p><br>
				バスケは個人スポーツではなくチームスポーツです。お互いをリスペクトし、仲間を思いやれる心を相手の立場になって物事を考えれる想像力をポジティブな声かけや、コミュニケーション能力を伸ばして環境が変わっても適応できる力をつけましょう。</p>
			</div>
			<div class="action-box col-lg-offset-2 col-lg-8 col-xs-offset-1 col-xs-10">
				<h3>- 活動内容 -</h3>
				<ul>
					<li>校区に関係なく、上手になりたい意識の高いメンバーで練習を行います。</li><br>
					<li>練習以外に京都府、府外の中学校や高校、Bクラブユース、クラブチームと練習試合、カップ戦、遠征などを行います。</li><br>
					<li>京都、近畿、全国ジュニアクラブ連盟主催の公式大会に参加します。<br>
					<p><i class="fas fa-long-arrow-alt-right"></i>U15リーグで優勝するとジュニアウィンターカップ出場。
					クラブチームの中で１位が全国クラブ選手権に出場可能。</li></p>
				</ul>
			</div>
			<div class="jba-box col-lg-offset-2 col-lg-8 col-xs-offset-1 col-xs-10">
				<h3>- JBA登録について -</h3>
				<ul>
					<li>登録について</li>
					<p>JBAや都道府県教会が主催する公式大会に参加するためには、必ず「クラブチーム」「部活動」「Bユース」のどこか一つのチームにJBA登録が必要です。</p>
					<li>二重登録について</li>
					<p>二重登録は不可能です。登録できるのは「クラブチーム」「部活」「Bユース」いずれか１チームのみです。</p>
					<li>移籍に関して</li>
					<p>年度始めに登録した選手は、その年度内1回に限り移籍が可能です。</p>
					<li>部活とリジカーレの両立と移籍</li>
					<p>部活に登録している場合、リジカーレでの練習や練習試合に参加できますが部活登録期間中はリジカーレとして公式戦は出場不可です。部活引退後にリジカーレとして共に戦う事を目指し部活登録期間は、部活とリジカーレでの経験の相乗効果を狙い両立してもらえたらと思います。3年生の夏季大会で部活を引退後にリジカーレへ移籍し、9月末開催のU15リーグでジュニアウィンターカップ、全国クラブ選手権を目指し、11月末開催の近畿ジュニア大会を戦います。</p>
				</ul>
			</div>
			<div class="about-box col-lg-offset-1 col-lg-10 col-xs-12">
				<h3>- 練習日 -</h3>
				<p><i class="fas fa-exclamation-circle"></i>時間の変動、及び日中に練習試合や招待試合に参加する場合有り。</p>
				<div class="col-xs-4">
					<h4>火曜日</h4>
					<p>18:00~21:00</p>
					<a href="https://goo.gl/maps/SwcFMshoNURBb7sS8"><p>ウィングス京都</p></a>
				</div>
				<div class="col-xs-4">
					<h4>土曜日</h4>
					<p>18:30~21:00</p>
					<a href="https://goo.gl/maps/GEShahBcDym2taZr7"><p>京都府立鳥羽高等学校</p></a>
				</div>
				<div class="col-xs-4">
					<h4>日曜日</h4>
					<p>18:00~21:00</p>
					<a href="https://goo.gl/maps/s6bH3nT9HcmyRs5Q8"><p>ハンナリーズアリーナ</p></a>
					<a href="https://goo.gl/maps/9ECxGcqqSrffkWEi9"><p>横大路体育館</p></a>
					<a href="https://goo.gl/maps/428DPPJzLYX9Pi7t8"><p>京都テルサ体育館</p></a>
				</div>
			</div>
			<div class="fee-box col-lg-offset-1 col-lg-10 col-xs-12">
				<h3>- 会費 -</h3>
				<div class="col-md-4 col-xs-12">
					<h4>「BASIC プラン」</h4>
					<p>- クラブチームのみ -</p>
					<table class="table">
						<tbody>
							<tr>
								<td class="col-xs-4">入会金</td>
								<td class="col-xs-8">10,000円</td>
							</tr>
							<tr>
								<td class="col-xs-4">年会費</td>
								<td class="col-xs-8">6.000円</td>
							</tr>
							<tr>
								<td class="col-xs-4">月会費</td>
								<td class="col-xs-8">8,000円</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-md-4 col-xs-12">
					<h4>「FREE　プラン」</h4>
					<p>- スクール＆クラブチーム -</p>
					<table class="table">
						<tbody>
							<tr>
								<td class="col-xs-4">入会金</td>
								<td class="col-xs-8">10,000円</td>
							</tr>
							<tr>
								<td class="col-xs-4">年会費</td>
								<td class="col-xs-8">6.000円</td>
							</tr>
							<tr>
								<td class="col-xs-4">月会費</td>
								<td class="col-xs-8">12,000円</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-md-4 col-xs-12">
					<h4>「SPOT　プラン」</h4>
					<p>- ？？？？？ -</p>
					<table class="table">
						<tbody>
							<tr>
								<td class="col-xs-4">入会金</td>
								<td class="col-xs-8">10,000円</td>
							</tr>
							<tr>
								<td class="col-xs-4">年会費</td>
								<td class="col-xs-8">6.000円</td>
							</tr>
							<tr>
								<td class="col-xs-4">１回</td>
								<td class="col-xs-8">2,000円</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="tshirt-box col-md-offset-2 col-md-8 col-xs-12">
					<div class="tshirt-image-box">
						<div class="tshirt-image-text">
							<h4><ABBR>入会特典 限定Tシャツ</ABBR></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>














