<div class="school-content col-lg-offset-1 col-lg-10 col-xs-12">
	<div class="title-box">
		<span>Risicare</span>
		<h2>SCHOOL</h2>
	</div>
	<div class="umezu-box col-md-6 col-xs-12">
		<div class="umezu-image-box">
			<div class="image-text">
				<h2><ABBR>梅津校</ABBR></h2>
				<P>Umezu high school class</P>
			</div>
		</div>
		<div class="umezu-text">
			<a href="https://goo.gl/maps/Bp4ma7i7wpUKDpHB8"><h4>京都市立梅津中学校</h4></a>
			<p>毎週水曜日</p>
			<p>小学校6年生〜中学校3年生</p>
			<p>19:00~21:00</p>
		</div>
	</div>
	<div class="fukakusa-box col-md-6 col-xs-12">
		<div class="fukakusa-image-box">
			<div class="image-text">
				<h2><ABBR>深草校</ABBR></h2>
				<P>Fukakusa high school class<br>
				   Fukakusa elementary class</p>
			</div>
		</div>
		<div class="fukakusa-text">
			<a href="https://goo.gl/maps/dmr5CTynZQK2Tsr27"><h4>京都市立深草小学校</h4></a>
			<p>毎週月曜日</p>
			<p>小学生(3〜6年生)　18:00~19:00</p>
			<p>中学生(1〜3年生)　19:15~20:45</p>
		</div>
	</div>
	<div class="fee-box col-md-offset-3 col-md-6 col-xs-12">
		<h3>- 会費 -</h3>
		<table class="table">
			<tr class="row">
				<td class="col-xs-6">入会金</td>
				<td class="col-xs-6">5,000円</td>
			</tr>
			<tr class="row">
				<td class="col-xs-6">スポーツ保険</td>
				<td class="col-xs-6">1,000円　(年度更新有)</td>
			</tr>
			<tr class="row">
				<td class="col-xs-6">月会費</td>
				<td class="col-xs-6">5,000円</td>
			</tr>
			<tr class="row">
				<td class="col-xs-6">スポット参加</td>
				<td class="col-xs-6">1,500円/1回</td>
			</tr>
		</table>
	</div>
	<div class="attention-box col-md-offset-2 col-md-8 col-xs-12">
		<h3>- 注意事項 -</h3>
		<ul>
			<li>お車でお越しの方は近隣のパーキングに駐車お願い致します。</li>
			<li>ミニバス、部活動、クラブチーム、Bユースに所属していても参加可能です。</li>
			<li>深草小学校では正門から敷地に入ることは禁止されております。正門が開いていても必ず北門からの入場願います。</li>
		　　<li>見学体験は無料となっております。お問い合わせの上参加願います。</li>
		</ul>
	</div>
</div>


