<div class ="title-content col-md-9 col-lg-10 col-sm-12">
	<div class="row">
		<div class="col-xs-12">
			<div class ="title-box">
				<span>Risicare</span>
				<h2>SCHOOL</h2>
			</div>
		</div>
	</div>
	<div class="umezu-box row">
		<div class="col-md-6 col-xs-12">
			<div class="umezu-image">
				<h2><ABBR>梅津校</ABBR></h2>
				<P>Umezu high school class</P>
			</div>
		</div>
		<div class="col-md-6 col-xs-12">
			<div class="umezu-text">
				<h3>京都市立梅津中学校<br>
					毎週水曜日　19:00~21:00<br>
				    小学校6年生〜中学校3年生</h3>
			</div>
		</div>
	</div>
	<div class="fukakusa-box row">
		<div class="col-md-6 col-xs-12">
			<div class="fukakusa-image">
				<h2><ABBR>深草校</ABBR></h2>
				<P>Fukakusa junior high school class<br>
				   Fukakusa elementary class</p>
			</div>
		</div>
		<div class="col-md-6 col-xs-12">
			<div class="fukakusa-text">
				<h3>京都市立深草小学校<br>
				    毎週月曜日<br>
				    小学生(3年生〜)　18:00~19:00<br>
				    中学生(1年生〜)　19:15~20:45</h3>
			</div>
		</div>
	</div>
	<div class="school-info row">
		<div class="col-md-4 col-xs-12">
			<h2>会費</h2>
			<table class="table">
				<tr class="row">
					<td class="col-xs-4">入会金</td>
					<td class="col-xs-8">5,000円</td>
				</tr>
				<tr class="row">
					<td class="col-xs-4">スポーツ保険</td>
					<td class="col-xs-8">1,000円　(年度更新有)</td>
				</tr>
				<tr class="row">
					<td class="col-xs-4">月会費</td>
					<td class="col-xs-8">5,000円</td>
				</tr>
				<tr class="row">
					<td class="col-xs-4">スポット参加</td>
					<td class="col-xs-8">1,500円/1回</td>
				</tr>
			</table>
		</div>
		<div class="col-md-8 col-xs-12">
			<h2>注意事項</h2>
			<ul>
				<li>お車でお越しの方は近隣のパーキングに駐車お願い致します。</li>
				<li>ミニバス、部活動、クラブチーム、Bユースに所属していても参加可能です。</li>
				<li>深草小学校では正門から敷地に入ることは禁止されております。正門が開いていても必ず北門からの入場願います。</li>
			　　<li>見学体験は無料となっております。お問い合わせの上参加願います。</li>	
			</ul>
		</div>
	</div>
</div>












