<div class="container">
	<div class="title-box row">
		<h2 class ="col-xs-8 col-xs-offset-2">スクール情報</h2>
	</div>
	<div class ="school-box">
			<h3>梅津校</h3>
			<p class="col-xs-2">会場</p>
				<p class="col-xs-10">京都市立梅津中学校</p>
			<p class="col-xs-2">日時</p>
				<p class="col-xs-10">毎週水曜日　19:00~21:00</p>
			<p class="col-xs-2">対象</p>
				<p class="col-xs-10">小学6年生 ~ 中学3年生<br>

			<h3>深草校</h3>
			<p class="col-xs-2">会場</p>
				<p class="col-xs-10">京都市立深草小学校<br>
				※入場の際、正門から敷地に入る事が禁止されておりますので、必ず北門からお入りください。<br>
			<p class="col-xs-2">日時</p>
				<p class="col-xs-10">毎週月曜日　　18:00 ~ 19:00(小学生)	19:15 ~ 20:45(中学生)</p>
			<p class="col-xs-2">対象</p>
				<p class="col-xs-10">小学3年生 ~ 中学3年生</p>


			<h4>費用</h4>
				<p class="col-xs-2">入会金</p>
					<p class="col-xs-10">5,000円</p>
				<p class="col-xs-2">スポーツ安全保険</p>
					<p class="col-xs-10">1,000円　	※入会時に加入していただきます。以降年度更新有り。</p>
				<p class="col-xs-2">月謝</p>
					<p class="col-xs-10">5,000円</p>
				<p class="col-xs-2">スポット参加</p>
					<p class="col-xs-10">1回/1,500円</p>

			<h4>その他</h4>
			<p>・ミニバス、部活動、Bユース、クラブチーム、他のチームに所属している方でも参加可能です。</p>
			<p>・お車でのお越しの方は近隣のパーキングをご利用ください。</p>
			<p>・開校日が祝日の場合は休校となります。</p>
	</div>
</div>