<div class="container">
	<div class="title-box row">
		<h2 class ="col-xs-8 col-xs-offset-2">-コーチプロフィール-</h2>
	</div>
	<div class ="staff-box">
		<div class ="prof-box">
			<div class="name-box">
				<ruby>
					<rb>北村豪希</rb>
					<rt>きたむらごうき</rt>
				</ruby>
				<p>1986年5月17日生まれ</p>
			</div>
			<div class="prof-box row">
				<div class="col-xs-6 image-box clearfix">
					<%= image_tag 'goki.jpg'%>
				</div>
				<div class="col-xs-6 carrer-box">
					<h4>競技歴</h4>
					<p>
						京都市立深草中学校<br>
						近畿大学附属高校 (ウィンターカップ出場)<br>
						近畿大学 (インカレ出場)<br>
						GYMRATS ジムラッツ<br>
						GR JAPAN アメリカ独立リーグ ABA Summer League 参戦(2009,2010)<br>
						bjリーグ　ライジング福岡 練習生(2009)<br>
						bjリーグ　大阪エベッサ 育成ドラフト6位入団(2010-2012)<br>
						bjリーグ　京都ハンナリーズ(2012-2014)<br>
						ABA SHIZUOKA GYMRATS 静岡ジムラッツ(2014-2015)
					</p>

					<h4>指導歴</h4>
					<p>
					 	KAGO BASETBALL SCHOOL<br>
					 	2020 U15 JAPAN CLUB BASKETBALL GAMES　優勝(ベストコーチ賞　受賞)
					</p>

					<h4>ライセンス</h4>
					<p>
						JBA公認C級コーチ<br>
						JBA公認E級審判
					</p>
				</div>
			</div>
		</div>
		<div class ="prof-box">
			<div class="name-box">
				<ruby>
					<rb>八木龍弘</rb>
					<rt>やぎたつひろ</rt>
				</ruby>
				<p>
				  1998年3月26日生まれ<br>
				  ※U15リジカーレクラブのみ
				</p>
			</div>
			<div class="col-xs-6 carrer-box">
				<h4>競技歴</h4>
				<p>
					大枝ミニバスケットボールクラブ<br>
					大枝中学校(全国中学校バスケットボール大会出場)<br>
					鳥羽高等学校
				</p>
				<h4>ライセンス</h4>
				<p>JBA公認E級審判</p>
			</div>
			<div class="prof-box　row">
				<div class="col-xs-6 image-box clearfix">
					<%= image_tag 'yagi.jpg'%>
				</div>
			</div>
		</div>
	</div>
</div>