<div class ="title-content col-md-9 col-lg-10 col-sm-12">
	<div class="row">
		<div class="col-xs-12">
			<div class ="title-box">
				<span>Risicare</span>
				<h2>STAFF</h2>
			</div>
		</div>
	</div>
	<div class="staff-index row">
		<div class="col-md-6 col-xs-12">
			<div class="staff-box">
				<div class="goki-image-main"></div>
				<div class="goki-image-sub"></div>
				<h3>競技歴</h3>
				<p>
					京都市立深草中学校<br>
					近畿大学附属高校 (ウィンターカップ出場)<br>
					近畿大学 (インカレ出場)<br>
					GYMRATS ジムラッツ<br>
					GR JAPAN アメリカ独立リーグ ABA Summer League 参戦(2009,2010)<br>
					bjリーグ　ライジング福岡 練習生(2009)<br>
					bjリーグ　大阪エベッサ 育成ドラフト6位入団(2010-2012)<br>
					bjリーグ　京都ハンナリーズ(2012-2014)<br>
					ABA SHIZUOKA GYMRATS 静岡ジムラッツ(2014-2015)
				</p>
				<h3>指導歴</h3>
				<p>
				 	KAGO BASETBALL SCHOOL<br>
				 	2020 U15 JAPAN CLUB BASKETBALL GAMES　優勝(ベストコーチ賞　受賞)
				</p>
				<h3>ライセンス</h3>
				<p>
					JBA公認C級コーチ<br>
					JBA公認E級審判
				</p>
			</div>
		</div>	
		<div class="col-md-6 col-xs-12">
			<div class="staff-box">
				<div class="yagi-image-main"></div>
				<div class="yagi-image-sub"></div>
				<p>大枝ミニバスケットボールクラブ<br>
				大枝中学校(全国中学校バスケットボール大会出場)<br>
				京都府立鳥羽高等学校<br>
				※JBA公認E級審判取得<br>
				</p>
			</div>
		</div>
	</div>
</div>

