<div class="row">
	<div class ="staff-content col-lg-offset-1 col-lg-10 col-xs-12">
		<div class ="title-box">
			<span>Risicare</span>
			<%= link_to new_admin_session_path do %>
				<h2>STAFF</h2>
			<% end %>
		</div>
		<div class="staff-index row">
			<div class="col-lg-offset-2 col-lg-8 col-xs-10 col-xs-offset-1">
				<div class="row">
					<div class="col-xs-12 goki-box">
						<div class="row">
							<div class="col-xs-offset-2 col-xs-8">
								<div class="goki-image"></div>
							</div>
						</div>
						<div class="name-box">
							<h3>Goki Kitamura</h3>
							<p>Risicare代表</p>
							<p>1986.05.17 KYOTO.JP</p>
						</div>
						<div class="sns-box">
							<i class="fab fa-instagram"></i>
							<i class="fab fa-twitter-square"></i>
						</div>
						<div class="text-box">
							<h4>[競技歴]</h4>
							<p>京都市立深草中学校卒</p>
							<p>近畿大学附属高校卒 ウインターカップ出場</p>
							<p>近畿大学卒　インカレ出場</p>
							<p>GYMRATS ジムラッツ</p>
							<p>GR JAPN アメリカ独立リーグABA Summer League参戦 (2009,2010)</p>
							<p>bjリーグ　ライジング福岡練習生(2009)</p>
							<p>bjリーグ　大阪エヴェッサ(2010-2012)育成ドラフト6位入団</p>
							<p>bjリーグ　京都ハンナリーズ(2012-2014)</p>
							<p>ABA  SHIZUOKA GYMRATS 静岡ジムラッツ(2014-2015)</p>
							<p>3x3.EXE PREMIER  YAIZU GR UNITED (2018)</p>
							<h4>[指導歴]</h4>
							<p>KAGO BASKETBALL SCHOOL  (2015〜)</p>
							<p>大阪府ジュニアクラブ選手権　優勝</p>
							<p>男子　平成30年、令和元年　</p>
							<p>  女子　平成29.30.31年、令和元</p>
							<p>第8回全国クラブ選手権　優勝 (U15 JAPAN CLUB BASKETBALL GAMES) </p>
							<p>  男子　令和元年 ベストコーチ賞　受賞</p>
							<h4>[ライセンス]</h4>
							<p>JBA公認C級コーチ</p>
							<p>JBA公認E級審判</p>
						</div>
					</div>
				</div>
			</div>	
			<div class="col-lg-offset-2 col-lg-8 col-xs-10 col-xs-offset-1">
				<div class="row">
					<div class="col-xs-12 yagi-box">
						<div class="row">
							<div class="col-xs-offset-2 col-xs-8">
								<div class="yagi-image"></div>
							</div>
						</div>
						<div class="name-box">
							<h3>Tatsuhiro Yagi</h3>
							<p>Risicare club アシスタントコーチ</p>
							<p>1998.03.26 KYOTO.JP</p>
						</div>
						<div class="sns-box">
							<i class="fab fa-instagram"></i>
						</div>
						<div class="text-box">
							<h4>[競技歴]</h4>
							<p>大枝ミニバスケットボールクラブ</p>
							<p>大枝中学校　全国中学校バスケットボール大会出場</p>
							<p>京都府立鳥羽高等学校</p>
							<h4>[ライセンス]</h4>
							<p>JBA公認E級審判</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-offset-2 col-lg-8 col-xs-10 col-xs-offset-1">
				<div class="row">
					<div class="col-xs-12 ryuu-box">
						<div class="row">
							<div class="col-xs-offset-2 col-xs-8">
								<div class="ryuu-image"></div>
							</div>
						</div>
						<div class="name-box">
							<h3>Ryuunosuke Yamashita</h3>
							<p>Risicare club フィジカルセラピスト</p>
							<p>1999.11.11 KYOTO.JP</p>
						</div>
						<div class="sns-box"></div>
						<div class="text-box">
							<h4>[競技歴]</h4>
							<p>スピリッツ</p>
							<p>木幡中学校</p>
							<p>京都府立鳥羽高等学校</p>
							<p>京都医健専門学校</p>
							<h4>[ライセンス]</h4>
							<p>JBA公認E級審判</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

