<div class ="container">
	<div class ="top-image clearfix">
		 <%= image_tag 'top-image.jpg' %>
	</div>
	<div class ="text-box">
		<h3>-MESSAGE-</h3>
		<p>Risicare(リジカーレ)とは、ラテン語で「勇気を持って試みる」という意味です</p>
		<p>当クラブでは、技術の向上だけではなく、自身で考えてプレーするために必要な戦術を理解して試合で活きる指導を行います。</p>
		<p>バスケットボールを通じて、本気で楽しみ　闘い　人との繋がりや違い　お互いをリスペクト　思いやりの心　</p>
		<p>感謝の心　そして、自分らしさを学ぶ中で、<span>自分で自分の殻を破ってアップデート</span>していけるように、</p>
		<p>夢に向かい積極的に挑戦する大切さや一歩踏み出す勇気を育てます。</p>
		<p>今いる環境が全てではなく、世界を知り、考え、自分で一歩踏み出し行動できる人へと楽しみながら共に成長していきましょう。</p>
		<p>子供たちがバスケットボールをできる機会や環境を増やし、バスケットボールを通じて出会った仲間が将来かけがえのないものになると信じています。</p>
		<p>当クラブに関わってくれた子供たちが巣立った時、素晴らしいクラブだったと思っていただけるよう日々努力致します。</p>
	</div>
	<div class ="info-box">
		<h3>-TOPIC-</h3>
		<div class ="row">
			<div class ="col-xs-12 col-md-4"></div>
			<div class ="col-xs-12 col-md-4"></div>
			<div class ="col-xs-12 col-md-4"></div>
		</div>
	</div>
</div>