/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
@import "bootstrap-sprockets";
@import "bootstrap";

*{
	padding:0;
	margin: 0;
	box-sizing: border-box;
}
.clearfix::after {
  	content: "";
  	display: block;
  	clor: both;
}
body {
	background-color: #f5f6f8;
	color: black;
}
.container{
	margin-right: auto;
	margin-left: auto;
	padding-right: 20px;
	padding-left: 20px;
	width: 100%;
}
.title-box {
	text-align: center;
}
/* ----------  サイドバー ----------　*/
.main-sidebar{
		.main-navbar {
		     padding: 20px 5px;
				img {
					max-width: 25px;
					line-height: 60px;
				}
				.header-text {
					font-size: 20px;
					vertical-align: middle;
				}
		 }
		ul{
			list-style: none;
				li{
					padding: 10px;
					border-bottom: 1px solid #e1e5eb;
					padding: .9375rem 1.5625rem;
				}
		}
}
 

/* -------------------------------　*/
/* ------------- top -------------　*/
.main-content {
	background: #f5f6f8;
		.top-about-box {
			background-image: url("logo2.jpg");
			background-size: cover;
			background-position: center;
			border-radius: 20px;
			height: 300px;
			margin-top: 20px;
			box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
				.about-text {
					width: 40%;
					height: 300px;
					background-color: rgba(0, 0, 0, 0.5);
					text-align: center;
					padding-top: 115px;
					color: white;
					border-radius: 0 20px 20px 0;
    				float: right;
				}

		}
		.staff-box{
			margin-top: 20px;
			box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
				.goki-box {
					background-image: url("goki.jpg");
					height: 300px;
					width: 50%;
					background-size: cover;
					background-position: center;
					float: left;
					border-radius: 20px 0 0 20px;
					position: relative;
						.goki-mask-text {
							position: absolute;
							width: 100%;
							height: 100%;
							top: 0;
							left: 0;
							color: #fff;
							background-color: rgba(0,0,0,0.65);
							border-radius: 20px 0 0 20px;
							opacity: 0;
							transition: .3s ease-in-out;
							text-align: center;
							padding-top: 80px;
							color: #fff;
						}
				}
				.goki-box:hover{
					.goki-mask-text {
						opacity: 1;
					}
				}
				.yagi-box {
					background-image: url("yagi.jpg");
					height: 300px;
					width: 50%;
					background-size: cover;
					background-position: center;
					float: right;
					border-radius: 0 20px 20px 0;
					position: relative;
					overflow: hidden;
						.yagi-mask-text {
							position: absolute;
							width: 100%;
							height: 100%;
							top: 0;
							left: 0;
							color: #fff;
							background-color: rgba(0,0,0,0.65);
							border-radius: 0 20px 20px 0;
							opacity: 0;
							transition: .3s ease-in-out;
							text-align: center;
							padding-top: 80px;
							color: #fff						}
				}
				.yagi-box:hover{
					.yagi-mask-text {
						opacity: 1;
					}
				}
		}
		.info-box{
			border-radius: 20px;
			margin-top: 20px;
			text-align: center;
		    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
		    background-color: white;
			    .info-container {
			    	padding: 10px;
						.info-image{
							border-radius: 20px;
						}
						.info-text{
							text-align: left;
						}
			    }
		}
		.sponsor-box{
			background-color: white;
			border-radius: 20px;
			height: 300px;
			margin-top: 20px;
		}
		.event-box{
			background-color: white;
			border-radius: 20px;
			height: 300px;
			margin-top: 20px;
		}
}


/* -------------------------------　*/
/* ------------ login ------------　*/
.body-box {
	.login-body-container {
		padding: 10px;
		text-align: center;
			.control-label {
				margin-top: 15px;
			}
			.form-box {
				color: black;
			}
	}
}

/* -------------------------------　*/



@media screen and (max-width: 480px) {
/* ------------ ヘッダー -----------　*/
	.header-list {
		display: none;
	}
/* -------------------------------　*/

/* ------------- top -------------　*/
	.top-image {
		margin-top: 20px;
			img {
				height: 200px;
			}
	}
}
/* -------------------------------　*/

/* ------------ event ------------　*/
.title-content{
		.body-box{
				div#calendar{
					padding: 10px;
				}
				.admin-event-new-box {
					padding: 10px;
						.control-label {
							margin-top: 15px;
						}
						.form-box {
							color: black;
						}
						textarea#event_body {
							width: 50%;
				    		height: 150px;
						}
				}
		}
}

.event-show-box {
	text-align: center;
}
/* -------------------------------　*/
/* ----------- callender ---------　*/
td.fc-day.fc-widget-content.fc-sat.fc-today {
    background: none;
}
/* -------------------------------　*/

/* ------------- info ------------　*/
.title-content{
	background: #f5f6f8;
		.title-box{
			text-align: left;
				span{
					letter-spacing: .125rem;
				    color: #818ea3;
				    font-size: .625rem;
				}
				h2{
					font-size: 1.625rem;
					font-weight: 500;
					line-height: 1;
					margin: 0;
					padding: 0;				
				}
		}
		.body-box{
				border-radius: 20px;
				margin-top: 20px;
				text-align: center;
			    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
			    background: white;
			    height: auto;
				    .info-index-box {
				    	padding: 10px;
				    		.info-container{
				    			padding: 10px;
									.info-image{
										border-radius: 20px;
									}
									.info-text{
										text-align: left;			    			
						    		}
				    		}
				    }
				    .info-show-box {
				    	padding: 10px 10px 100px 10px;
				    	margin-bottom: 50px;
							.info-image{
								border-radius: 20px;
							}
							.info-text-box{
								text-align: left;
							}				    		

				    }
				    .info-post-box{
				    	padding: 10px;
				    		.image-squar{
				    			border-radius: 20px;
				    		}
							input#information_image {
								width: 300px;
								margin: 10px auto 0;
							}
							.form-group {
								width: 500px;
								margin: 0 auto;
									textarea.form-control {
										height: 300px;
									}
							}
							.post-form {
								margin: 10px auto;
							}
							.button {
								text-align: center;
							}
							.info-show-box {
								text-align: center;
								p {
									margin: 20px auto 0;
								}
								h3 {
									margin-top: 0;
								}
							}							
				    }
		}
}
/* ---------------------------------　*/
/* ------------- staff -------------　*/
.staff-index{
	    	.staff-box{
	    		border-radius: 20px;
	    		background-color: white;
	    			.goki-image-main{
	    				background-image: url("goki.jpg");
					    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
					    background-position: center;
					    background-size: cover;
					    border-radius: 50%;
					    height: 100px;
					    width: 100px;
					    position: absolute;
					    top: 27%;
					    left: 10%;
	    			}
	    			.goki-image-sub{
					    background-image: url(image2.jpg);
					    height: 250px;
					    background-size: cover;
					    background-position: center;
					    border-radius: 20px 20px 0 0;
					    margin-bottom: 50px;
	    			}
	    			.yagi-image-main{
	    				background-image: url("yagi.jpg");
	    				box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
					    background-position: center;
					    background-size: cover;
					    border-radius: 50%;
					    height: 100px;
					    width: 100px;
					    position: absolute;
					    top: 50%;
					    left: 10%;
	    			}
	    			.yagi-image-sub{
	    				background-image: url("yagisub.jpeg");
					    height: 250px;
					    background-size: cover;
					    background-position: center;
					    border-radius: 20px 20px 0 0;
					    margin-bottom: 50px;
	    			}
	    	}
}
/* --------------------------------　*/
/* ------------- error  -----------　*/
.error-box{
	ul{
		list-style: none;
	}
}




/* --------------------------------　*/
/* ------------- about ------------　*/
.about-body-box{
		border-radius: 20px;
		margin-top: 20px;
		text-align: center;
	    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	    background: white;
	    height: auto;
	    padding: inherit;
			.about-image-box {
				background-image: url("logo2.jpg");
				background-size: cover;
				background-position: center;
				border-radius: 20px 20px 0 0;
				height: 300px;
				box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
					.about-image-text {
						width: 100%;
						height: 300px;
						background-color: rgba(0, 0, 0, 0.5);
						text-align: center;
						padding-top: 115px;
						color: white;
						border-radius: 20px;
						border-radius: 20px 20px 0 0;
					}
			}
			.about-box {
				text-align: left;
					.about-image{
						background-image: url("logo2.jpg");
						background-size: cover;
						background-position: center;
						box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
						border-radius: 20px;
						height: 300px;

					}
			}
}

/* --------------------------------　*/