// Place all the styles related to the Informations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ------------ login ------------　*/

.body-box {
	width: 90%;
	margin: 0 auto;
		.title-box{
			margin-top: 90px;
				span{
					letter-spacing: .125rem;
				    color: #818ea3;
				    font-size: .625rem;
				}
				h2{
					font-size: 1.625rem;
					font-weight: 500;
					line-height: 1;
					margin: 0;
					padding: 0;
				}
		}
		.login-body-container {
			padding: 10px;
			text-align: center;
				.control-label {
					margin-top: 15px;
				}
				.form-box {
					color: black;
				}
		}
}

/* -------------------------------　*/
